/* .aim{
  width: 33%;
  margin: auto;
  text-align: center;
  padding-bottom: 3%;
  color: rgba(36,41,70,255);

   
}
.featlinks{
    margin-right: 5%;
    text-decoration: none;
    color: rgba(36,41,70,255);

}
.featlinks:hover{
    color: rgba(242,117,118,255);


}
.hr{
    width: 50%;
    height: 2px;
    background-color: rgba(242,117,118,255);
    margin-top: 2%;
    border-style: none;
    
}
.acc{
    width: 50%;
    margin: auto; 
    padding-bottom: 5%;
} */
